<ion-content>
  <div>
    <ion-label class="user_label">Conectado con: {{webRTC.user_name}}</ion-label>
  </div>
  <div id="errorMsg"></div>

  <div class="Video_container">
    <video id="partner-video" (click)="swapVideo('my-video')" autoplay playsinline
      [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}">
    </video>
    <video id="my-video" (click)="swapVideo('partner-video')" autoplay playsinline
      [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" >
    </video>
  </div>


  <form class="form_contaniner" action="" #form="ngForm">
    <ion-row [hidden]= "true" class="log_in" nowrap>
     <ion-button (click)="init()">Login As </ion-button>
     <ion-item >
       <ion-input type="text" name="userId" [(ngModel)]="userId" placeholder="enter your nick name" disabled></ion-input>
     </ion-item>
    </ion-row>
  
    <ion-row class="log_in" nowrap>
      <ion-button (click)="call()" [disabled]="form.invalid" ><ion-icon name="call"></ion-icon></ion-button>
      <ion-item class="user_id_input">
        <ion-input type="text" name="partnerId" [(ngModel)]="partnerId" placeholder="userId" required></ion-input>
      </ion-item>
    </ion-row>
    <ion-row [hidden]="!finish_call" class="log_in" nowrap>
      <button  class="finish_call_button" (click)="finishCall()"><ion-icon name="cut"></ion-icon></button>
    </ion-row>
  </form>


</ion-content>