.top-video{
    position: absolute;
    bottom: 1px;
    right: 1px;
    max-width: 200px;
    z-index: 2;
}

.main-video{
    width: 100%;
    position: fixed;
}
.log_in{
    justify-content: center;
    align-items: flex-end;
    
}
ion-button{
    width: min-content;
    z-index: 9999;
}
.form_contaniner {
    display: flex;
    justify-content: center;
    position: relative;
    top: 85vh;
}
.Video_container{
    
    display: flex;
    justify-content: center;
}
.finish_call_button {
    background-color: #d83c3c;
    color: white;
    padding: 0px 17px;
    border-radius: 8px;
    height: 40px;
    font-size: 21px;
    z-index: 99999;
}
.user_label{
    border: 2px solid white;
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    background-color: #428CFF;
    z-index: 999;
    padding: 1%;
    border-radius: 8px;
}
@media(max-width:820px){
    .main-video{
        height: 100%!important;
        width: auto!important;
        position: absolute;

   }
}