<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Grid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
    <ion-grid>
      <ion-row>
        <ion-col class="col-sm-6" *ngFor ="let item of items" >
          <div class="item">
            {{item}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>