<ion-header>
  <ion-toolbar>
    <ion-title>broadcaster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <iframe
    src="https://dist.bambuser.net/broadcaster/?application_id=C48LqWjW9xm5Zfxtwhkcbw&ticket=domain%3Dlocalhost&da_signature_header=da_id%3D6012e7c2-9ca1-bb01-1e96-81d29a02b50e%26da_timestamp%3D1602623927%26da_signature_method%3DHMAC-SHA256%26da_ttl%3D0%26da_static%3D1%26da_signature%3D80767f2a21de9bd3a18a6a01f9b21dbf9929ba4df9e275aed71941adb35049b1"
    style="border: none"
    allowfullscreen 
    allow="microphone; camera">
   </iframe>
  <!-- <button ion-button
  *ngIf="!isBroadcasting && !isPending"
  (click)="start()">
  Start
</button>

<button ion-button
  *ngIf="isBroadcasting && !isPending"
  (click)="stop()"
  color="danger">
  Stop
</button>
-->
</ion-content>