<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button routerLink="grid">Grid</ion-button>
    <ion-button routerLink="call_user/1">call user</ion-button>
    <ion-button routerLink="receive-video-call/2">receive call</ion-button>
  </div>
</ion-content>
